<?xml version="1.0"?>
<config>
    <modules>
        <UltraDev_Parcelamento>
            <version>1.0.0</version>
        </UltraDev_Parcelamento>
    </modules>

    <global>
        <helpers>
            <ultradev_parcelamento>
                <class>UltraDev_Parcelamento_Helper</class>
            </ultradev_parcelamento>
        </helpers>

        <blocks>
            <ultradev_parcelamento>
                <class>UltraDev_Parcelamento_Block</class>
            </ultradev_parcelamento>
        </blocks>

        <models>
            <ultradev_parcelamento>
                <class>UltraDev_Parcelamento_Model</class>
            </ultradev_parcelamento>
        </models>

        <!-- EVENTOS: substituição do preço via interceptação do HTML renderizado 
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <ultradev_parcelamento_price_template>
                        <class>ultradev_parcelamento/observer</class>
                        <method>replacePriceHtml</method>
                    </ultradev_parcelamento_price_template>
                </observers>
            </core_block_abstract_to_html_after>
        </events> -->

    </global>

    <frontend>
        <layout>
            <updates>
                <ultradev_parcelamento>
                    <file>ultradev_parcelamento.xml</file>
                </ultradev_parcelamento>
            </updates>
        </layout>
    </frontend>

    <default>
        <ultradev_parcelamento>
            <general>
                <enabled>0</enabled>
                <max_installments>12</max_installments>
                <cash_discount>0</cash_discount>
            </general>
            <pix>
                <enabled>0</enabled>
                <discount>0</discount>
            </pix>
            <boleto>
                <enabled>0</enabled>
                <discount>0</discount>
            </boleto>
            <custom_price>
                <enabled>0</enabled>
            </custom_price>
        </ultradev_parcelamento>
    </default>
</config>
